h1
{

}

.invoegBoxes
{

}

.fieldsWrapper
{
    margin-left: 1.25rem;
    color:blue;
    margin-bottom: 1rem;
}
#banenLijst
{
    margin-top: 2rem;
    color:red;
}
.banenPrint
{
    margin-top: 0.3rem;
    margin-left: 2rem;
}